<!DOCTYPE html>
<html lang="pt-BR">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Biblioteca Digital</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style/geral.css') }}">

</head>

<body>

<header>

<div class="header-content">

  <h1>Biblioteca Digital</h1>

  <form action="/" method="GET" class="search-form">
    <input type="text" name="busca" placeholder="Pesquisar...">
    <button>Buscar</button>
  </form>

</div>

</header>

<section class="hero">
  <h2>Digitalização Inteligente</h2>
  <p>OCR + Resumo automático com IA</p>
</section>

<main class="container">

<section class="files-box">

{% if documentos|length == 0 %}
  <div class="empty">
    Nenhum documento encontrado.
  </div>
{% endif %}

{% for doc in documentos %}

<div class="file-item">

  <!-- THUMB CORRIGIDA -->
  <div class="thumb-wrapper">
    <img class="thumb" src="/uploads/{{ doc.caminho_thumb }}">
  </div>

  <h4>
    <a href="/documento/{{ doc.id }}">
      {{ doc.titulo }}
    </a>

  </h4>
  <h4>
      <a href="/documento/{{ doc.id }}">
      Sucesso% {{ doc.taxa_sucesso}}
    </a>
  </h4>

    <h4>
      <a href="/documento/{{ doc.id }}">
      Pipeline {{ doc.pipeline }}
    </a>
  </h4>

  <p>
    {{ doc.resumo[:120] }}...
  </p>

  <div class="actions">

    <span class="tag">Processado</span>

    <a href="/pdf/{{ doc.id }}" target="_blank" class="btn-pdf">
      📄 PDF
    </a>

  </div>

</div>

{% endfor %}

</section>

</main>

</body>
</html>